/*TO DO LIST*/
.toDo {
  background-color: #F1F1F1;
  width: 20%;
  height: auto;
  position: absolute;
  right: 70%;
  top: 5%;
  border-radius: 5px;
  border: solid 4px lightgreen;
}
.toDoHeader {
  font-family: sans-serif;
  font-size: 150%;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}
/*DOING LIST*/
.doing {
  background-color: #F1F1F1;
  width: 20%;
  height: auto;
  position: absolute;
  right: 45%;
  top: 5%;
  border-radius: 5px;
  border: solid 4px lightblue;
}
.doingHeader {
  font-family: sans-serif;
  font-size: 150%;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}
/*DONE LIST*/
.done {
  background-color: #F1F1F1;
  width: 20%;
  height: auto;
  position: absolute;
  right: 20%;
  top: 5%;
  border-radius: 5px;
  border: solid 4px #E57375;
}
.doneHeader {
  font-family: sans-serif;
  font-size: 150%;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}
/*CARDS*/
.card {
  font-family: sans-serif;
  font-size: 120%;
  color: black;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: center;
  background-color: white;
  width: 75%;
  height: 75%;
  word-wrap: break-word;
  border-radius: 2px;
  border: solid 2px #CDCDCD;
}

/* REMOVE SELECTION BORDER*/
textarea:focus, input:focus{
    outline: none;
}
/*BUTTON*/
.Button {

    background-color: white;
    /* Font */
    font-family: sans-serif;
    font-weight: 100;
    font-size: 15px;
    transition: 0.3s;
    /* Text Appearance */
    color: #3E3E3E;
    text-align: center;

    /* Outline Appearance */
    border: solid 2px #3E3E3E;
    padding: 10px 20px;
    margin-bottom: 5px;
    width: 75%;
}

    /* Apperance when mouse hovers over button */
.Button:hover {
background-color: #3E3E3E;
color: white;
}

    /* Appearance when button is clicked */
.Button:active {
    font-size: 14px;
}
/* style for input tag */
input{
  margin: 0;
 border: none;
 border-radius: 0;
 width: 75%;
 font-size: 16px;
}
